/*2023/11/17-22:16*/

@charset 'utf-8';

form {
    text-align: center;
}

#msg-list {
    list-style: none;
    padding: 0;
}

.msg {
    border: 1px solid gray;
    margin: 0.5em 0px;
    min-height: 1em;
}